<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Wirecutter A New York Times Company
        script(src="https://code.jquery.com/jquery-3.3.0.min.js")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        link(rel="stylesheet" href="../scss/main.scss")
    body
        header.container.nav-container
            div.row
                div.col-lg.main-nav.jumbotron
                    div.row
                        div.col-lg-4.col-md-5.col-sm-6.col-8.logo
                            img(src="../images/logo-img.jpg").logo-image
                        div.col-lg-1.col-md-1.col-sm-8.col-4.empty
                        div.col-lg-7.col-md-6.col-sm-12.searchBar-container
                            input(type="text" placeholder="Show me the best...").search-bar.input
            nav.navbar.navbar-expand-lg.bootNavBar
                button.navbar-toggler(data-toggle='collapse', data-target='#collapse_target')
                    span.navbar-toggler-icon
                        i.fas.fa-sliders-h
                div#collapse_target.collapse.navbar-collapse
                    ul.navbar-nav.mr.nav-linkUnder-auto
                        li.nav-item.dropdown 
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder Electronics
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder Home & Garden 
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder  Kitchen & Dining
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder  Money
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder  Travel
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder  Office
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkUnder Appliances
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS ITEM 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkLast.nav-linkLastDeal 💚Deals
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS ITEM 
                        li.nav-item.dropdown
                            a(href="#").nav-link.navBar-buttons.dropdown-toggle(data-toggle="dropdown", data-target="dropdown_target").nav-linkLast Blog
                            div.dropdown-menu(aria-labelledby="dropdown_target").dropDownMenu
                                a.dropdown-item PHP Vidoes
                                a.dropdown-item CSS ITEM
                                a.dropdown-item JS ITEM 
                                a.dropdown-item EPRESS ITEM Blog
        div.container                        
            div.row
                div.col-lg.nav-fineprint Wirecutter is reader-supported. When you buy through links on our site, we may earn an affiliate commission. 
                    a(href="#") 
                        span.learn-text Learn more
        div.container.main1-container
            div.row
                div.col-xl-2.col-lg-3.col-md-5.left-bar1
                    div.left-bar-flex-container
                        div.left-bar-contents.first-left-bar 
                            p.hiring We're Hiring!
                            p.yellowText If you like what we do, you might like working here, too — 
                                a(href="#").span.join-us join us.
                        div.left-bar-contents.second-left-bar
                            a(href="#")
                                p.left-p New + Updated
                        div.left-bar-contents
                            a(href="#")
                                p.left-barP Thee Best Ebook Reader
                                    small.small-left Today
                        div.left-bar-contents
                            a(href="#")
                                p.left-barP The Best Baby Bouncers and Rockers
                                    small.small-left Today
                        div.left-bar-contents
                            a(href="#")
                                p.left-barP The Best Gas Credit Cards
                                    small.small-left Today
                        div.left-bar-contents
                            a(href="#")
                                p.left-barP The Best All-in-One Computer
                                    small.small-left Today
                        div.left-bar-contents
                            a(href="#")
                                p.left-barP The Unbearable Lightness of Money Diaries
                                    small.small-left Today
                div.col-xl-8.col-lg-6.col-md-7.main-content1
                    div.row
                        div.col-12.yogaMat
                            a(href="#")
                                img(src="../images/yoga.jpg").img-fluid.yogaMatImage
                    div.row
                        div.col-12.yogaHeading
                            h1.yoga-heading The Best Yoga Mats
                            h6 by Daniel Woldehana
                    div.row
                        div.col-lg-7.belowYoga After testing 26 mats, we’ve found that the 
                            span.redText Lululemon The Reversible Mat 5mm 
                            span is the best for most people.
                        div.col-lg-5.belowYoga2
                            small.related RELATED
                            a(href="#")
                                p.myMainPs The Best Yoga Mat Carrier
                                p.myMainPs How to Breathe New Life Into Your Old Yoga Mat
                div.col-xl-2.col-lg-3.col-md-12.right-bar1 
                    div.right-bar-flex
                        div.first-right-bar
                            p.greenText 💚Deals we Love
                            p.greyText Prices Drop on Products We Love
                            img(src="../images/Toto.jpg").totoImage
                            p.price Toto Washlet c200
                            p.numberPrice 
                                span.linethrough $380 
                                span $254
                            P.numberPrice 33% off
                        div.second-right-bar
                            p.greyText Prices Drop on Products We Love
                            img(src="../images/alarm.jpg").totoImage
                            p.price Toto Washlet c200
                            p.numberPrice 
                                span.linethrough $380 
                                span $254
                            P.numberPrice 33% off
                        div.third-right-bar
                            p.greyText Prices Drop on Products We Love
                            img(src="../images/laptop.jpg").totoImage
                            p.price Toto Washlet c200
                            p.numberPrice 
                                span.linethrough $380 
                                span $254
                            P.numberPrice 33% off
        script(type="text/javascript" src="../js/main.js")
